body {
  background: #ece8d9;
  font-family: "Roboto", sans-serif;
}

.img-1 {
  max-width: 250px;
}

.email {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fa6e9b;
  font-weight: bold;
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #fa6e9b;
  margin-bottom: 10px;
}
